<h1 class="text-center mt-4">All the cocktails</h1>
<div>
  <form action="/coctails" method="get">
  <input type="text" name="cocktail" placeholder="Search for cocktail">
  <input type = "submit">
</form>


</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="card-product mt-4 col-xs-12 col-md-4">
      <!-- img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
      <div class="card-product-infos">
        <%= link_to cocktail_path(cocktail) do %>
        <%= cl_image_tag cocktail.photo, height: 200, crop: :fill %>
        <% end %>
        <%= link_to cocktail_path(cocktail) do %>
        <h2><%= cocktail.name.capitalize %></h2>
        <%cocktail.doses.each do |dose| %>
        <p><strong><%= dose.description %></strong> of
          <%= dose.ingredient.name %></p>
          <% end %>
          <% end %>
        </div>
        <!--    <#%= link_to 'see cocktail', cocktail_path(cocktail), class: 'btn btn-primary' %> -->
      </div>

      <% end %>

    </div>
    <div class="text-center my-5">
      <%= link_to 'add new cocktail', new_cocktail_path, class: 'btn btn-secondary' %>

  <!--   </div>
     <div class="text-center my-5">
      <%#= link_to 'edit a cocktail', cocktails_path(@cocktail), class: 'btn btn-secondary' %>
 -->
   <!--  </div> -->
  </div>

